name: C CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Install Dependencies
      run: |
        sudo apt-get update
        sudo apt-get upgrade
        sudo apt-get install -y snap
        sudo apt-get install -y clang
        echo "exit 0" | sudo tee /usr/sbin/needrestart   # <-- Add this line to disable needrestart
        sudo apt-get install -y libc6-dbg
        sudo snap install valgrind --classic
        mkdir -p build
        git submodule update --init --recursive
    - name: Build
      run: make nnc
    - name: Run Tests
      run: make tests
    - name: Analysis
      run: make analyze
